# Core
# python==3.12
# Data handling
pandas
numpy
openpyxl

# Machine Learning
scikit-learn
joblib
xgboost

# NLP / BERT
transformers
torch

# API (for next stage)
fastapi
uvicorn

# Database
psycopg2-binary
sqlalchemy

# Visualization (for analysis / testing)
matplotlib
seaborn
